.replicate
.vscode/.ropeproject
.mypy_cache
*.egg-info/
__pycache__/
.tox
go/release
python/build
python/dist
python/replicate/bin
/local
.env*.local

# scratch notebooks
Untitled.ipynb
.ipynb_checkpoints
