// Proprietary fonts are in https://github.com/replicate/replicate-webfonts (private)
$font-base: "https://fonts.replicate.ai";

// https://www.atipofoundry.com/fonts/basier
@font-face {
  font-family: "basier_square";
  src: url("#{$font-base}/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot");
  src: url("#{$font-base}/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("#{$font-base}/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff2")
      format("woff2"),
    url("#{$font-base}/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff")
      format("woff"),
    url("#{$font-base}/Basier-Square-regular-webfont/basiersquare-regular-webfont.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "basier_square";
  src: url("#{$font-base}/Basier-Square-bold-webfont/basiersquare-bold-webfont.eot");
  src: url("#{$font-base}/Basier-Square-bold-webfont/basiersquare-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("#{$font-base}/Basier-Square-bold-webfont/basiersquare-bold-webfont.woff2")
      format("woff2"),
    url("#{$font-base}/Basier-Square-bold-webfont/basiersquare-bold-webfont.woff")
      format("woff"),
    url("#{$font-base}/Basier-Square-bold-webfont/basiersquare-bold-webfont.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "basier_square";
  src: url("#{$font-base}/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.eot");
  src: url("#{$font-base}/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("#{$font-base}/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.woff2")
      format("woff2"),
    url("#{$font-base}/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.woff")
      format("woff"),
    url("#{$font-base}/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "basier_square";
  src: url("#{$font-base}/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.eot");
  src: url("#{$font-base}/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("#{$font-base}/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.woff2")
      format("woff2"),
    url("#{$font-base}/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.woff")
      format("woff"),
    url("#{$font-base}/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.ttf")
      format("truetype");
  font-weight: 800;
  font-style: italic;
}

// https://www.atipofoundry.com/fonts/basier-mono
@font-face {
  font-family: "basier_square_mono";
  src: url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.eot");
  src: url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.woff2")
      format("woff2"),
    url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.woff")
      format("woff"),
    url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "basier_square_mono";
  src: url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.eot");
  src: url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.woff2")
      format("woff2"),
    url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.woff")
      format("woff"),
    url("#{$font-base}/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
