@import "./fonts.scss";

/* MIXINS */

$text: rgb(0, 0, 0);
$text-shade: rgba(0, 0, 0, 0.45);
$page: rgb(255, 255, 255);
$panel: rgba(0, 0, 0, 0.05);
$brand: rgb(255, 247, 145);

$whitespace-vertical: 2.5vh;
$whitespace-horizontal: 1.25vw;
$grid-row: 50vh;

$padding: $whitespace-vertical 0;

$keyline: 1px solid $text-shade;

@mixin layout-block {
  display: block;
  box-sizing: border-box;
}

@mixin grid-layout {
  display: grid;
  grid-template-columns: $whitespace-horizontal 1fr 1fr 1fr $whitespace-horizontal;
  grid-gap: 0 $whitespace-horizontal;
  @media (min-width: 1800px) {
    grid-template-columns: 1fr 550px 550px 550px 1fr;
  }
  @media (max-width: 700px) {
    grid-template-columns: $whitespace-horizontal * 3 1fr 1fr 1fr $whitespace-horizontal * 3;
  }
}

@mixin grid-module {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 $whitespace-horizontal;
}

@mixin font-core {
  font-size: 1.3rem;
  letter-spacing: 0;
  line-height: 1.5;
  @media (min-width: 1200px) {
    font-size: 1.3rem;
  }
  @media (min-width: 1300px) {
    font-size: 1.2rem;
  }
  @media (min-width: 1400px) {
    font-size: 1.1rem;
  }
  @media (max-width: 1000px) {
    font-size: 1.6rem;
  }
  @media (max-width: 800px) {
    font-size: 1.9rem;
  }
  @media (max-width: 700px) {
    font-size: 3.5rem;
  }
}

@mixin font-feature {
  font-size: 3.1rem;
  letter-spacing: -0.025em;
  line-height: 1.1;
  hyphens: manual;
  @media (max-width: 1000px) {
    font-size: 3rem;
  }
  @media (max-width: 700px) {
    font-size: 7rem;
  }
}

/* RESET */

* {
  margin: 0;
  padding: 0;

  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

html {
  font-size: 1vw;
  background: $brand;
  @media (min-width: 1800px) {
    font-size: 18px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "basier_square", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $text;
  hyphens: auto;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: underline;
  text-decoration-color: $text-shade;
  text-decoration-thickness: 0.6px;
  text-underline-offset: 0.15em;
  &:hover {
    text-decoration-color: $text;
    text-decoration-thickness: 2px;
  }
  &:focus {
    background: $text;
    color: $brand;
    outline: 0.333em solid $text;
  }
  &.button {
    text-decoration: none;
    border-radius: 5em;
    border: 0.065em solid $text;
    padding: 0.32em 1em 0.38em;
    &:hover {
      background: $text-shade;
      color: $page;
      outline: none;
      border-color: transparent;
    }
    &:focus {
      background: $text;
      color: $brand;
      outline: none;
    }
  }
}

.tagline {
  @include font-feature;
  @media (max-width: 1000px) {
    font-size: 7rem;
  }
  @media (max-width: 700px) {
    font-size: 10rem;
  }
  strong {
    font-weight: normal;
    color: $text-shade;
    @media (max-width: 1000px) {
      display: block;
    }
  }
}

h2 span {
  display: block;
  color: $text-shade;
}

.layout {
  @include font-core;
  @include grid-layout;
  background: $page;
  background: linear-gradient($brand 0%, $page 1%, $page 99%, $brand 100%);
  &:before {
    content: ".";
    color: transparent;
    background: $brand;
    grid-column: 1 / 6;
    grid-row: 1 / 3;
  }
}

/* COMPONENTS */
.codeblock {
  // https://github.com/PrismJS/prism/blob/master/themes/prism.css
  @include font-core;
  background: $text;
  color: $page;
  font-family: "basier_square_mono", monospace;
  overflow: auto;
  padding: $padding;

  pre {
    // this makes the sizing right for scrolling, for some reason
    float: left;
    min-width: 100%;

    direction: ltr;
    text-align: left;
    white-space: pre;
    word-wrap: break-word;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  .token-line {
    padding-left: $whitespace-horizontal;
    padding-right: $whitespace-horizontal;
  }
  .token {
    display: inline-block;
  }

  .line-highlight {
    background: rgba(255, 255, 255, 0.2);
  }

  // Based on https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css
  .namespace {
    opacity: 0.7;
  }

  .token.doctype .token.doctype-tag {
    color: #569cd6;
  }

  .token.doctype .token.name {
    color: #9cdcfe;
  }

  .token.comment,
  .token.prolog {
    color: $brand;
  }

  .token.punctuation,
  .language-html .language-css .token.punctuation,
  .language-html .language-javascript .token.punctuation {
    color: #d4d4d4;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted,
  .token.unit {
    color: #b5cea8;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #ce9178;
  }

  .language-css .token.string.url {
    text-decoration: underline;
  }

  .token.operator,
  .token.entity {
    color: #d4d4d4;
  }

  .token.operator.arrow {
    color: #569cd6;
  }

  .token.atrule {
    color: #ce9178;
  }

  .token.atrule .token.rule {
    color: #c586c0;
  }

  .token.atrule .token.url {
    color: #9cdcfe;
  }

  .token.atrule .token.url .token.function {
    color: #6a9955;
  }

  .token.atrule .token.url .token.punctuation {
    color: #d4d4d4;
  }

  .token.keyword {
    color: #569cd6;
  }

  .token.keyword.module,
  .token.keyword.control-flow {
    color: #c586c0;
  }

  .token.function,
  .token.function .token.maybe-class-name {
    color: #6a9955;
  }

  .token.regex {
    color: #d16969;
  }

  .token.important {
    color: #569cd6;
  }

  .token.italic {
    font-style: italic;
  }

  .token.constant {
    color: #9cdcfe;
  }

  .token.class-name,
  .token.maybe-class-name {
    color: #4ec9b0;
  }

  .token.console {
    color: #9cdcfe;
  }

  .token.parameter {
    color: #9cdcfe;
  }

  .token.interpolation {
    color: #9cdcfe;
  }

  .token.punctuation.interpolation-punctuation {
    color: #569cd6;
  }

  .token.boolean {
    color: #569cd6;
  }

  .token.property,
  .token.variable,
  .token.imports .token.maybe-class-name,
  .token.exports .token.maybe-class-name {
    color: #9cdcfe;
  }

  .token.selector {
    color: #d7ba7d;
  }

  .token.escape {
    color: #d7ba7d;
  }

  .token.tag {
    color: #569cd6;
  }

  .token.tag .token.punctuation {
    color: #808080;
  }

  .token.cdata {
    color: #808080;
  }

  .token.attr-name {
    color: #9cdcfe;
  }

  .token.attr-value,
  .token.attr-value .token.punctuation {
    color: #ce9178;
  }

  .token.attr-value .token.punctuation.attr-equals {
    color: #d4d4d4;
  }

  .token.entity {
    color: #569cd6;
  }

  .token.namespace {
    color: #4ec9b0;
  }

  .language-shell-session {
    .token-line {
      .command {
        font-weight: bold;
        color: white;
      }
      .command.shell-symbol {
        color: rgba(255, 255, 255, 0.8);
        font-weight: normal;
      }
      .command.function,
      .command.number,
      .command.operator {
        color: white;
      }
    }
  }
}

.tabs {
  & > div:first-child {
    @include font-feature;
    margin-top: 2.2em;
    margin-bottom: $whitespace-vertical * 2;
    border-bottom: $keyline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 700px) {
      @include font-core;
    }
    &:after {
      content: ".";
      width: 0;
      overflow: hidden;
      color: transparent;
    }
  }
  div {
    &:focus {
      outline: none;
    }
    h1:first-child,
    h2:first-child,
    h3:first-child {
      padding-top: 0;
    }
  }
  button {
    overflow: visible;
    border: none;
    background: none;
    padding-right: $whitespace-horizontal;
    padding-bottom: 0.1em;
    margin: $whitespace-vertical 0;
    color: $text-shade;
    cursor: pointer;
    &:hover {
      color: $text;
    }
    &:focus {
      outline: 0;
    }
  }
  button[data-selected] {
    color: $text;
    cursor: text;
  }
}

.global-banner {
  position: relative;
  padding-top: $whitespace-vertical;
  margin: 0 $whitespace-horizontal * 2;
  @include font-core;
  border-bottom: $keyline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 1000px) {
    padding-top: $whitespace-vertical * 0.5;
  }
  @media (max-width: 700px) {
    flex-direction: column;
    margin: 0 $whitespace-horizontal * 4;
  }
  @media (min-width: 1800px) {
    width: calc(1650px + #{$whitespace-horizontal * 2});
    margin: 0 auto;
  }
  p {
    padding: 0 $whitespace-horizontal $whitespace-vertical * 0.5 0;
    @media (max-width: 1000px) and (min-width: 701px) {
      width: 53rem;
    }
  }
  nav {
    border-left: $keyline;
    padding: 0 0 $whitespace-vertical * 0.5 $whitespace-horizontal;
    a + a {
      margin-left: $whitespace-horizontal;
    }
    @media (max-width: 1000px) {
      width: calc(33% - #{$whitespace-horizontal});
    }
    @media (max-width: 700px) {
      width: 100%;
      border-left: none;
      padding-left: 0;
      text-align: right;
    }
  }
  @media (max-width: 700px) {
    p + nav {
      position: absolute;
      bottom: -3em;
      a {
        margin-right: $whitespace-horizontal;
      }
    }
  }
}

/* HOMEPAGE */

header {
  @include layout-block;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: $padding;
  min-height: calc(#{$grid-row * 1.5} - #{$whitespace-vertical * 2});
  &.documentation {
    min-height: calc(#{$grid-row} - #{$whitespace-vertical * 2});
  }
  & > * {
    flex-basis: 100%;
  }
  & > :last-child {
    /*     margin-top: auto; */
  }
  @media (max-width: 700px) {
    .tagline {
      padding: 20vh 0 15vh;
      margin-bottom: $whitespace-vertical * 2;
    }
  }
  .breadcrumb {
    @include font-feature;
    a {
      color: $text-shade;
      &:hover {
        color: $text;
      }
      &:focus {
        color: $brand;
      }
      &:after {
        content: ".";
        display: inline-block;
        width: 0;
        overflow: hidden;
        margin: 0 0.25em 0 0.5em;
        border-left: 1px solid;
        transform: rotate(15deg);
        vertical-align: middle;
      }
      @media (max-width: 700px) {
        & + a {
          &:before {
            content: "Docs";
          }
          span {
            display: none;
          }
        }
      }
    }
    h2 {
      display: inline;
      @media (max-width: 700px) {
        display: inline-block;
      }
    }
  }
  & > p {
    text-align: center;
    .button {
      margin-left: $whitespace-horizontal;
    }
  }
}

.info {
  @include layout-block;
  grid-column: 2 / 5;
  @include grid-module;
  div {
    padding: $padding;
    padding-bottom: $whitespace-vertical * 2;
    @media (max-width: 700px) {
      grid-column: 1 / 4;
    }
    h2 {
      @include font-feature;
    }
    p {
      margin: $whitespace-vertical $whitespace-horizontal * 2 0 0;
    }
  }
}

.terminal {
  position: relative;
  @include layout-block;
  grid-column: 2 / 5;
  @include grid-module;
  min-height: calc(#{$grid-row} - #{$whitespace-vertical * 2});
  &:before {
    content: ".";
    color: transparent;
    position: absolute;
    left: 0;
    right: $whitespace-horizontal * -2;
    bottom: -6rem;
    height: 6rem;
    background: $page;
    z-index: 10;
    @media (min-width: 1800px) {
      right: calc(-50vw + 825px + #{$whitespace-horizontal});
    }
    @media (max-width: 700px) {
      margin-left: $whitespace-horizontal * -4;
      margin-right: $whitespace-horizontal * -2;
    }
  }
  &:after {
    content: ".";
    color: transparent;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background: $text;
    margin-right: $whitespace-horizontal * -2;
    z-index: 11;
    @media (max-width: 700px) {
      display: none;
    }
  }
  & > div {
    grid-column: 1 / 2;
    padding: $padding;
    padding-bottom: $whitespace-vertical * 3;
    @media (max-width: 700px) {
      grid-column: 1 / 4;
    }
    h2 {
      @include font-feature;
    }
    p,
    ul {
      margin: $whitespace-vertical $whitespace-horizontal * 2 0 0;
      li {
        margin-left: $whitespace-horizontal;
      }
    }
  }
  .windowChrome {
    grid-column: 2 / 4;
    margin-right: $whitespace-horizontal * -2;
    position: relative;
    padding: 0;
    overflow: inherit;
    box-shadow: 0 2rem 4rem $text-shade;
    background: $text;
    @media (max-width: 700px) {
      grid-column: 1 / 4;
      margin-right: $whitespace-horizontal * -4;
    }
    &:before {
      content: ".";
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 2em;
      color: transparent;
      border-radius: 0.5em 0 0 0;
      background: $text-shade;
      @media (min-width: 1800px) {
        border-radius: 0.5em 0.5em 0 0;
      }
    }
  }
}

.control {
  @include layout-block;
  position: relative;
  z-index: 10;
  grid-column: 2 / 5;
  @include grid-module;
  padding-top: $whitespace-vertical;
  border-bottom: 1px solid $text;
  overflow: hidden;
  div {
    // min-height: calc(#{$grid-row} - #{$whitespace-vertical * 2});
    margin-bottom: $whitespace-vertical;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center center;
    &:nth-child(1) {
      /*       background-image: url(../public/svg/icon-1.svg); */
    }
    &:nth-child(2) {
      // grid-column: 2 / 5;
      /*       background-image: url(../public/svg/icon-2.svg); */
    }
    @media (max-width: 700px) {
      grid-column: 1 / 4;
      &:nth-child(2) {
        grid-column: 1 / 4;
        margin-top: $whitespace-vertical;
      }
    }
  }
  h2 {
    @include font-feature;
    margin-bottom: $whitespace-vertical;
  }
  p {
    padding-bottom: $whitespace-vertical;
  }
}

.docs {
  @include layout-block;
  grid-column: 2 / 5;
  @include grid-module;
  padding-top: 0;
  padding-bottom: $whitespace-vertical * 4;
  &.homepage nav {
    @media (max-width: 700px) {
      grid-column: 1 / 4;
      padding-bottom: 0;
      ol ol {
        display: none;
      }
    }
  }
  &.documentation {
    @media (max-width: 700px) {
      padding-bottom: 0;
      nav {
        position: relative;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        margin-top: $whitespace-vertical * 4;
        padding-bottom: $whitespace-vertical * 2;
        &:before {
          content: ".";
          color: transparent;
          position: absolute;
          top: 0;
          left: $whitespace-horizontal * -4;
          right: $whitespace-horizontal * -4;
          bottom: 0;
          background: $panel;
        }
      }
    }
  }
  nav {
    grid-column: 1 / 2;
    padding: $padding;
    padding-top: 0;
    padding-bottom: 33vh;
    a {
      text-decoration: none;
    }
    h2 {
      @include font-feature;
      margin-bottom: $whitespace-vertical;
      @media (max-width: 700px) {
        margin-bottom: 0;
      }
    }
    ol {
      list-style: none;
    }

    // Top-level sections
    & > ol {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      padding-top: $whitespace-vertical;

      & > li {
        padding-bottom: $whitespace-vertical;
      }
    }

    // Pages within sections
    & ol ol {
      @media (max-width: 700px) {
        margin-bottom: $whitespace-vertical;
      }
      li {
        position: relative;
        padding-left: 1em;
        &:before {
          content: "–";
          display: inline-block;
          width: 0.9em;
          margin-left: -0.9em;
        }
        @media (max-width: 700px) {
          border-bottom: $keyline;
          padding: 0;
          margin: 0;
          a {
            display: block;
            padding: $whitespace-vertical * 0.5 0;
          }
          &:before {
            display: none;
          }
        }
      }
    }

    // Table of contents within pages
    & > ol ol ol {
      padding-left: $whitespace-horizontal;
      color: $text-shade;
      a:hover {
        color: $text;
      }
    }
  }
  .body {
    grid-column: 2 / 4;
    @media (max-width: 700px) {
      grid-column: 1 / 4;
    }
    hr {
      border: none;
      height: 3.5rem;
    }
    h1,
    h2,
    h3 {
      @include font-feature;
      max-width: 15em;
      padding-top: calc(3.3rem + #{$whitespace-vertical});
      margin-bottom: $whitespace-vertical;
      code {
        position: relative;
        font-size: 0.85em;
        background: $panel;
        top: -0.025em;
        padding: 0.3em 0.4em 0.35em;
      }
    }
    h4,
    h5,
    h6 {
      max-width: 15em;
      margin-top: 6em;
      margin-bottom: $whitespace-vertical * 1.5;
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      margin: $whitespace-vertical * 0.5 $whitespace-horizontal * 2 0 0;
      max-width: 50em;
    }
    & > p:first-child {
      @include font-feature;
      margin-top: calc(3.3rem + #{$whitespace-vertical});
      margin-bottom: $whitespace-vertical * 2;
      max-width: 18.5em;
    }

    ul,
    ol {
      margin: $whitespace-vertical * 0.5 $whitespace-horizontal * 2 0 0;
      max-width: 50em;
      padding-inline-start: $whitespace-horizontal * 2;
    }

    code {
      font-family: "basier_square_mono", monospace;
      font-size: 0.9em;
      display: inline-block;
      padding: 0.15em 0.4em 0.1em;
      border-radius: 0.25em;
      background: $panel;
    }
    .codeblock {
      margin: $whitespace-vertical 0;
      font-size: 0.9em;
    }

    .note {
      background-color: $panel;
      padding: $whitespace-vertical * 0.5 $whitespace-horizontal
        $whitespace-vertical;
      margin: $whitespace-vertical 0;

      h4 {
        font-weight: bold;
        margin: $whitespace-vertical * 0.5 $whitespace-horizontal * 2 0 0;
      }
    }
  }
  &.documentation {
    nav {
      padding-top: 3.3rem;
      & > ol {
        top: $whitespace-vertical * 0.5;
      }
    }
  }
}

footer {
  @include layout-block;
  grid-column: 1 / 6;
  @include grid-layout;
  background: $brand;
  padding-top: $whitespace-vertical * 3;
  padding-bottom: $whitespace-vertical * 1.5;
  @media (max-width: 700px) {
    padding-bottom: $whitespace-vertical;
  }
  h2 {
    @include font-feature;
    grid-column: 2 / 5;
    @include grid-module;
    min-height: calc(#{$grid-row} - #{$whitespace-vertical * 2});
    div:nth-child(1) {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    div:nth-child(2) {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      text-align: center;
      padding-left: 7.75em;
    }
    div:nth-child(3) {
      grid-row: 1 / 2;
      grid-column: 2 / 4;
    }
    @media (max-width: 700px) {
      div:nth-child(1) {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        a {
          position: relative;
          display: block;
          text-align: center;
          top: -0.5em;
        }
      }
      div:nth-child(2) {
        grid-column: 1 / 2;
        padding-top: 2em;
        padding-left: 0;
        width: 2em;
      }
      div:nth-child(3) {
        grid-column: 1 / 4;
        padding-top: 2em;
        padding-left: 2em;
      }
    }
  }
  h3 {
    @include font-feature;
    padding-bottom: $whitespace-vertical;
  }
  #contributors {
    grid-column: 2 / 3;
    margin-bottom: $whitespace-vertical;
    $image-size: 5em;
    ul {
      list-style: none;
      margin-bottom: $whitespace-vertical;
      li {
        padding-left: $image-size + 1em;
        padding-bottom: $whitespace-vertical;
      }
      img {
        float: left;
        position: relative;
        margin-left: -1.1em - $image-size;
        width: $image-size;
        height: $image-size;
        border-radius: $image-size;
      }
      h4 {
        font-weight: bold;
      }
      p {
        max-width: 19em;
      }
      .link {
        color: $text-shade;
        margin-right: 0.3em;
      }
    }
  }
  #get-involved {
    grid-column: 3 / 5;
  }
  #beta-message {
    grid-column: 2 / 3;
    max-width: 23em;
  }
  #invite-message {
    grid-column: 3 / 4;
    max-width: 23em;
  }
  nav {
    @include layout-block;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    a + a {
      margin-left: $whitespace-horizontal;
    }
    @media (max-width: 700px) {
      grid-column: 2 / 5;
      grid-row: 2 / 3;
      justify-content: flex-start;
      a {
        margin-right: $whitespace-horizontal;
      }
    }
  }
  p.tagline {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    padding-top: $whitespace-vertical;
    margin-top: $whitespace-vertical;
    border-top: $keyline;
  }
}
